body {
  background: linear-gradient(180deg, #63a9e6 50%, #126eb4);
}

.logo {
  width: 180px !important;
}

.nav-logo {
  width: 40px !important;
  height: 25px !important;
}

.bg-dark {
  background-color: transparent !important;
}

.custom-footer {
  margin-top: 100vh !important;
  background-color: #272728 !important;
  color: white !important;
}

.custom-footer-copy {
  padding: 0 1vh !important;
}

/* .row {
  flex-direction: column !important;
  align-content: center !important;
} */

body:not([data-webform-layout]),
html {
  overflow-x: hidden;
}
